agm-map {
    height: 300px;
}

#mapid {  
    height: 1000px;
    width: 100%;
}

.map {
    height: 300px; 
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

.color {
    background-color: #a4a4a4;
    color: white; 
}

.div-height {
    height: 89px;
}

.center-text {
    text-align: center;
} 