<div class="mt-4 container">
 
  <!-- <h1>Angular Google Maps with Places Search Example</h1> -->
 <div class="row">
  <div class="card mr-4 col-4">
    <input type="text" class="mt-4" placeholder="Nome do cliente" name="name" [(ngModel)]="name">
    <input type="number" class="mt-4" placeholder="Peso da entrega" name="weigth" [(ngModel)]="weigth" min="0">
    <input type="text" class="form-control mt-4" (keydown.enter)="$event.preventDefault()" placeholder="Endereço Cliente" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    
   <div class="row mt-4">
     <div class="col-6">
    <input type="text" style="width: 100%" disabled placeholder="Latitude" name="latitude" [(ngModel)]="latitude">
  </div>
    <div class="col-6">
    <input type="text" style="width: 100%" disabled placeholder="Longitude" name="longitude" [(ngModel)]="longitude">
  </div>
  </div>
    <button class="btn btn-success mt-4" (click)="registerClient()"> CADASTRAR CLIENTE</button>
  </div>
  
  <div class="col-7 map"
     leaflet 
     (leafletMapReady)="onMapReady($event)"
     [leafletOptions]="options">
</div>

</div>

<div class="row mt-2">
    <div class="card mr-4 col-4">
        <button class="btn btn-danger mt-4 mb-4" (click)="resetRegistrantion()"> RESETAR CADASTRO</button>
    </div>

    <div class="col-7">
      <p> Total de clientes: {{clients.length }}; Peso total: {{totalWeigth}} Kg; Ticket médio: {{ totalWeigth/clients.length }} </p>
        <table class="table table-hover tables">
            <thead class="color">
              <tr>
                <th>Nome</th>
                <th>Rua</th>
                <th>Cidade</th>
                <th>País</th>
                <th>Peso</th>
                <th>Lat</th>
                <th>Lng</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let client of clients">
                <td>{{ client?.clientName }}</td>
                <td>{{ client?.address?.publicPlace }}</td>
                <td>{{ client?.address?.city }}</td>
                <td>{{ client?.address?.country }}</td>
                <td>{{ client?.weigth }}</td>
                <td>{{ client?.address?.geolocation?.lat | number : '1.3-3' }}</td>
                <td>{{ client?.address?.geolocation?.lgn | number : '1.3-3' }}</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>
</div>

